@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --green: #00A46A;
  --blue: #1A72E1;
  --hard-blue: #2F58A0 ;
  --lil-blue: #7797CD;
  --gray: #77787B;
  --white: #fff;
  --red: #CB2027;
}

*{
  font-family: 'Roboto', sans-serif;
}

.rojo{
  background-color: red;
}

.container {
  max-width: 960px;
  padding: 1rem 4rem;
  margin: auto;
  overflow: hidden;
}

.error {
  padding: 5px;
  border: #777 dotted 1px;
  margin-bottom: 15px;
}